body {
    color: rgb(16, 57, 81);
    background-color: #2884c5;
}

.container>h1{
    margin-top: 70px;
    margin-bottom: 20px;
}

.panel {
    /*background-color: rgba(16, 57, 81,0.4);*/
    background-color: #1e6394;
    border-radius: 0%;
}

.btn{
    border-radius: 0%;
}

.form-control{
    border-radius: 0px;
}
.assessment-img{
    height: 150px;
    padding: 10px;
}
@font-face {
    font-family: AdelleBasic_Bold;
    src: url(font/AdelleBasic_Bold.otf);
}

@font-face {
    font-family: AdelleSans-Regular;
    src: url(font/AdelleSans-Regular.otf);
}

h1,h2,h3,h4 {
    font-family: AdelleBasic_Bold;
    color: rgb(231,231,231);
}

h4,h5,p,a,label {
    font-family: AdelleSans-Regular;
    color: rgb(231,231,231);
}


/*Radio buttons and Checkboxes*/

input[type=checkbox].css-checkbox {
    display:none;
}

input[type=checkbox].css-checkbox + label.css-checkboxlabel {
    padding-left:27px;
    height:22px;
    display:inline-block;
    line-height:22px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:14px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-checkboxlabel {
    background-position: 0 -22px;
}
label.css-checkboxlabel {
    background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_4da3b5b298edb587858b1e6176b0c7d5.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=radio].css-radio {
    display:none;
}

input[type=radio].css-radio + label.css-radiolabel {
    padding-left:27px;
    height:22px;
    display:inline-block;
    line-height:22px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:14px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=radio].css-radio:checked + label.css-radiolabel {
    background-position: 0 -22px;
}
label.css-radiolabel {
    background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_7140f97e96e2bbe46d72f09d7f4d2627.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}