body{
    font-family: Comic Sans MS, cursive;
}

.container {
  overflow: hidden; 
} 

#sidenav{
    margin-bottom: -5000px; /* any large number will do */
    padding-top: 20px;
    padding-bottom: 5000px; 
    background-color: rgb(134, 134, 134);
    position: fixed;
    display: block;
}

#sidenav li{
    list-style: none;
    margin: 20px auto;
}

#sidenav li a{
    color: black;
}

#connect li{
    list-style: none;
    margin: auto;
}


#intro{
	background-size: cover;
	background-image: url(../img/nepalHimalayas.JPG);
    background-attachment: fixed;
	height:650px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#quote{
    margin: 60px auto auto auto;
    background-color: rgba(245,245,245,.5);
}


#projects{
}


#skills{
    padding-bottom: 20px;
}


#experience{
    background-color: rgb(200, 200, 198);
}

#accenture-img{
	width:60%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#twodegrees-img{
	width:30%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#maritz-img{
	width:60%;
	margin-top: 10px;
	margin-bottom: 10px;
}


#education{
}

#uofi-img{
	width:25%;
	margin-top: 10px;
	margin-bottom: 10px;}

#sic-img{
	width:60%;
	margin-top: 10px;
	margin-bottom: 10px;
}


#passions{
    background-color: rgb(200, 200, 198);
}

.passion-img{
	width: 25%;
    margin-bottom: 20px;
}

footer{
    margin-top: 10px;
}