#panel-edits{
    margin: 20px auto auto auto;
    background-color: rgba(245,245,245,.5);
}

#panelbody-edits{
    padding: 0px;
}

#shift-down{
    margin-top: 50px;
}
.passion-img{
	width: 25%;
}

#profilePic{
    margin-top: 50px;
    width: 25%;
}

#summary{
	background-size: cover;
	background-image: url(../img/nepalHimalayas.JPG);
    background-attachment: fixed;
	height:600px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.divider {
	margin-top: 0px;
	margin-bottom: 0px;
}

#experience-background{
    background-color: rgba(68,103,160,1);
}

#education-background{
    background-color: rgba(165,171,178,1);
}

#passions-background{
    background-color: rgba(112,105,100,1);
}

#accenture-img{
	width:60%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#twodegrees-img{
	width:30%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#maritz-img{
	width:60%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#uofi-img{
	width:25%;
	margin-top: 10px;
	margin-bottom: 10px;}

#sic-img{
	width:60%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer{
	margin-top: 10px;
}