.top-cushion{
    margin-top:50px;
}

.navbar-brand{
    padding-top:0;
    padding-bottom: 0;
}

.navbar-brand img{
    height: 45px;
}

.tab-content{
    margin-top: 20px;
}

footer{
    margin: 20px auto;
}

#intro{
    background-size: cover;
    background-image: url(https://googledrive.com/host/0B8twAiT8iwUZR2RXMEFHdHBXX2dRbG5vdmpQczJBQkZkWWNZ/);
    height:650px;
}

#intro .jumbotron{
    opacity:.7;
    margin-top: 200px;
}

#intro .jumbotron a{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    background-color: #000051;
}

#intro .jumbotron a:hover{
    color: #000051;
    background-color: white;
}

#about{
    background-size: cover;
    background-image: url(https://googledrive.com/host/0B8twAiT8iwUZU3BicnI4eG5fbjA/);
    height:450px;
}

#about .panel-default{
    background-color: #CAD6DC;
    }

#testimonials{
    background-color: #CAD6DC;
}

#contact{
    background-color: #1D1F4B;
    color:white;
}



/*Fluid Video*/
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*End Fluid Video*/

