header{
    padding: 30px;
    background-color: blue;
    -webkit-box-shadow: 0px 10px 6px -6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 10px 6px -6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 10px 6px -6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#summary{
    padding: 30px;
}

hr{
    margin: 0px;
}

#summary h3{
    margin: auto 80px;
}

#benefits{
    padding: 20px;
}

#benefits h3{
    margin-top: 0px;
    margin-bottom: 20px;
}

#benefits img{
    height: 50px;
}

#learnMore{
    margin: 20px;
}

.tab-content{
    margin-top: 20px;
}

.tab-content img{
    padding:  10px 30px;
}

.tab-content h5{
    font-style: italic;
}

.caption h3{
    margin-top: 10px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 0px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
