header{
    padding: 30px;
    background-color: blue;
    -webkit-box-shadow: 0px 10px 6px -6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 10px 6px -6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 10px 6px -6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#summary{
    padding: 30px;
}

header h1{
    font-size: 48px;
    color: yellow;
}

hr{
    margin: 0px;
}

#summary h1{
    margin-top: 10px;
    color: blue;
}

#summary h3{
    color: green;
}

#benefits{
    padding: 20px;
}

#benefits h1{
    margin-top: 10px;
    margin-bottom: 30px;
    color: blue;
}

#benefits h3{
    color: green;
    fill: currentColor;
}

#benefits img{
    height: 50px;
    fill: green;
}

#learnMore{
    margin: 20px;
}

#learnMore h1{
    margin-top: 10px;
    margin-bottom: 30px;
    color: blue;
}



.nav-tabs li a.tabhead{
    border-radius: 0px;
    background-color:green;
    color:yellow;
    font-size: 24px;
}


.nav-tabs li a.tabhead:hover{
    border-radius: 0px;
    background-color: yellow;
    color:green;
    font-size: 24px;
}

.nav-tabs li[class="active"] a{
    background-color: yellow;
    color:green;
    border-radius: 0px;
    font-size: 24px;
}



.nav-tabs li.active::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 47%;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: yellow transparent;
    display: block;
    width: 0;
}

.tab-content{
    margin-top: 20px;
    border: 1px solid green;
    border-top: none;
    padding-top: 30px;
    margin-top: 0px;
}

.tab-content img{
    padding:  10px 30px;
}

.tab-content h5{
    font-style: italic;
}

.tab-content p{
    color:green;
}

.tab-content h5{
    color:green;
}

.tab-content a.btn{
    color:yellow;
}

.caption h3{
    margin-top: 10px;
    color:green;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 0px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
